{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "react-app",
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "jsx-a11y",
    "typescript"
  ],
  "rules": {
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "comma",
        "requireLast": true
      },
      "singleline": {
          "delimiter": "comma",
          "requireLast": false
      }
    }],
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-expressions": ["error"],
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/semi": ["error"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "curly": ["error", "all"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "jsx-a11y/label-has-for": "off",
    "linebreak-style": "off",
    "max-len": ["error", {
      "code": 120,
      "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
      "ignoreComments": true,
      "ignoreTemplateLiterals": true,
      "ignoreUrls": true
    }],
    "no-shadow": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "operator-linebreak": ["error", "before"],
    "react/jsx-filename-extension": ["warn", {
      "extensions": [".jsx", ".tsx"]
    }],
    "react/jsx-indent": ["error", 2, {
      "indentLogicalExpressions": true
    }],
    "react/jsx-one-expression-per-line": ["warn", {
      "allow": "single-child"
    }],
    "react/prop-types": ["off"], // TypeScript will take care of this
    "react/self-closing-comp": ["error", {
      "component": true,
      "html": true
    }],
    "semi": "off"
  },
  "overrides": [
    {
      "files": ["**/*.styles.ts"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json", ".ts", ".tsx"]
      }
    },
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
